<div class="app">
  <div class="logo">
    <label>CFD-LAB</label>
  </div> 
  <div class="header">
    <label>Please choose your solver</label>
  </div>
  <div class="solvers">
    <div class="solver" (click)="selectSolver()">
      <label>solver 1</label>
    </div>
    <div class="solver">
      <label>solver 2</label>
    </div>
    <div class="solver">
      <label>solver 3</label>
    </div>
    <div class="solver">
      <label>solver 4</label>
    </div>
    <div class="solver">
      <label>{{res}}</label>
    </div>
  </div>
  <div class="button">
    <label>Run</label>
  </div>
</div>